@font-face {
  font-family: 'Light';
  src: url('../public/fonts/Roboto-Light.ttf');
}
@font-face {
  font-family: 'Bold';
  src: url('../public/fonts/Roboto-Bold.ttf');
}
@font-face {
  font-family: 'Cool';
  src: url('../public/fonts/Cool.ttf');
}
@font-face {
  font-family: 'Typo';
  src: url('../public/fonts/Typo.otf');
}
@font-face {
  font-family: 'Thin';
  src: url('../public/fonts/Thin.otf');
}
body {
  background-color: #FFFFFF;
}
.blogBody {
  background-color: #F5F5F5;
}
.container {
  width: 80%;
}
.container-fluid {
  width: 70%;
}
.divide {
  border-color: #E8E8E8;
  width: 80%;
}
/* ------------------------------------------------------------------------ */

/* START OF NAVBAR CSS */
.navbar {
  background: #FFFFFF;
  height: 70px;
  border-bottom: 1px solid #E3E3E3;
}
.navBarBlog {
  background: transparent;
  height: 70px;
  border: none;
}
.navBar .menu {
  font-size: 13px;
  color: #888888;
  margin-top: 10px;
}
.navBar .menu:hover {
  color: #EE402D;
  background-color: transparent;
}
.navBar .active {
  color: #EE402D;
}
.navBar .last {
  margin-right: 25px;
}
.logo {
  height: 45px;
  width: auto;
  margin-left: 8.2em;
  margin-top: -3px;
}
.blogByLogo {
  height: 55px;
  width: auto;
  margin-top: -3px;
}
.backButton {
  height: 30px;
  width: auto;
  margin-top: 10px;
}
/* END OF NAVBAR CSS */

/* ------------------------------------------------------------------------ */

/* BUTTONS PROPERTIES CSS */
.betaButton {
  background-color: #FF5D3B;
  color: white;
  font-size: 14px;
  padding: 7px 20px 7px 20px;
  margin-top: -8px;
}
.betaButton:hover {
  background-color: #EE402D;
  color: white;
}
.signUpBeta {
  background-color: #FF5D3B;
  border-radius: 3px;
  margin-top: 6px;
  padding: 10px 30px 10px 30px;
  border: none;
  color: white;
  font-family: Light;
}
.signUpBeta:hover {
  background-color: #EE402D;
  color: white;
}
.onImageBetaButton {
  background-color: #EE402D;
  border: 1px solid #EE402D;
  padding: 10px 30px 10px 30px;
  font-size: 15px;
  font-family: Light;
  color: white;
  margin-top: 2em;
  margin-bottom: 4em;
}
.onImageBetaButton:hover {
  background-color: #E23D2B;
  border: 1px solid #E23D2B;
  color: white;
}
.blogButtonOnHome {
  background-color: rgba(25,25,25,0.3);
  border: none;
  padding: 10px 30px 10px 30px;
  font-size: 15px;
  font-family: Light;
  color: white;
  margin-top: 3px;
}
.blogButtonOnHome:hover {
  background-color: #EE402D;
  border: none;
  color: white;
}
.navbar-nav .like {
  font-size: 13px;
  color: #888888;
  margin-top: 10px;
  margin-right: 10px;
}
.navbar-nav .like:hover {
  color: #395A93;
  background: transparent;
}
.navbar-nav .follow {
  font-size: 13px;
  color: #888888;
  margin-top: 10px;
  margin-right: 10px;
}
.navbar-nav .follow:hover {
  color: #55ACEE;
  background: transparent;
}
.navbar-nav .igFollow {
  font-size: 13px;
  color: #888888;
  margin-top: 10px;
  margin-right: 9em;
}
.navbar-nav .igFollow:hover {
  color: #256080;
  background: transparent;
}
.icon-bar {
  background-color: #EE402D;
}
.navbar-toggle {
  border: transparent;
  margin-top: 1.3em;
  margin-right: 2em;
}
.navbar-toggle:hover {
  background-color: #F0F0F0;
}
.navbar-collapse{
  width: 100%;
  background-color: #FFFFFF;
}
.authorFollow {
  margin-top: 20px;
  background-color: #55ACEE;
  color: white;
}
.authorFollow:hover {
  background-color: #3B89C4;
  color: white;
}
.postButton {
  background-color: #FF5D3B;
  color: white;
  margin-top: 20px;
}
.postButton:hover {
  background-color: #EE402D;
  color: white;
}
/* END OF BUTTONS CSS */

/* ------------------------------------------------------------------------ */

/* CHANGING MAIN CONTENT */
.mainHeader {
  background: url("../public/images/express.png");
  width: 100%;
  padding-top: 2.5em;
  padding-bottom: 8em;
  height: 600px;
  margin-bottom: 5em;
  background-attachment: fixed;
} 
.blogHeader {
  background: url("../public/images/blogs.png");
  width: 100%;
  padding-top: 2.5em;
  padding-bottom: 8em;
  height: 600px;
  margin-bottom: 5em;
  background-attachment: fixed;
}
.seoPostHeader {
  background: url("../public/images/blogs/seoPost.png");
  width: 100%;
  padding-top: 2.5em;
  padding-bottom: 8em;
  height: 600px;
  margin-bottom: 5em;
  background-attachment: fixed;
}
.frameworkPostHeader {
  background: url("../public/images/blogs/frameworkPost.png");
  width: 100%;
  padding-top: 2.5em;
  padding-bottom: 8em;
  height: 600px;
  margin-bottom: 5em;
  background-attachment: fixed;
}
.webProjectPostHeader {
  background: url("../public/images/blogs/webProjectPost.png");
  width: 100%;
  padding-top: 2.5em;
  padding-bottom: 8em;
  height: 600px;
  margin-bottom: 5em;
  background-attachment: fixed;
}
.bottomHeader {
  background: url("../public/images/bottomBlog.png");
  min-height: 300px;
  padding-top: 0.3em;
  padding-bottom: 4em;
  background-attachment: fixed;
}
.bestWayHeader {
  background: url("../public/images/bestWay.png");
  height: 800px;
  padding-top: 0.3em;
  padding-bottom: 4em;
  background-attachment: fixed;
}
.betaHeader {
  padding-bottom: 5em;
}
.padding-top {
  padding-top: 5em;
}
.blogPost {
  background-color: white;
  padding-top: 4em;
  margin-top: 4em;
  padding-bottom: 4em;
  margin-bottom: 4em;
  border-top: 4px solid #FF5D3B;
}
.blogPostCard {
  border-radius: 0px;
  background-color: #F8F8F8;
  margin-bottom: 5em;
  border: none;
  padding-bottom: 4em;
}
.blogPostCard:hover {
  background-color: #F3F3F3;
}
.signUpBetaPlease {
  background-color: #F0F0F0;
  padding-top: 5em;
}
/* END OF MAIN CONTENT */

/* ------------------------------------------------------------------------ */

/* CHANGING TEXT PROPERTIES */
.navTitle:hover {
  color: #FF5D3B;
}
.tagLine {
  font-family: Bold;
  font-size:calc(80% + 3vw);
  color: #485960;
}
.subTagLine {
  margin-top: 1em;
  line-height: 40px;
  font-family: Light;
  font-size:18px;
  color: #888888;
}
.titleHeading {
  margin-top: 2em;
  margin-bottom: 2em;
  font-family: Bold;
  font-size:calc(80% + 1.5vw);
  color: #485960;
}
.betaTitle {
  margin-top: 2em;
  font-family: Bold;
  font-size:calc(80% + 1.5vw);
  color: #485960;
}
.subTitleHeading {
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: 22px;
  color: #485960;
}
.subDescription {
  margin-top: 1em;
  margin-bottom: 2em;
  font-size: 17px;
  line-height: 32px;
  font-family: Light;
  color: #888888;
}
.novaTitle {
  font-family: Cool;
  font-size:calc(100% + 7vw);
  color: white;
}
.novaBlogTitle {
  font-family: Cool;
  font-size:90px;
  color: white;
  padding-top: 1.5em;
}
.novaMainText {
  background: #EE402D;
  padding: 5px 15px 5px 15px;
  border-radius: 8px;
  margin-left: 5px;
}
.blogPostMainTitle {
  font-family: Cool;
  font-size: 55px;
  color: white;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 3em;
}
.blog {
  background-color: #EE402D;
  padding: 7px 25px 7px 25px;
  border-radius: 5px;
}
.featureTitle {
  padding-top: 2.5em;
  font-family: Cool;
  font-size: 80px;
  color: white;
}
.novaLine {
  margin-top: 1em;
  font-family: Light;
  font-size:calc(80% + 0.8vw);
  color: #F0F0F0;
}
.hashtag {
  color: #FFFFFF;
  font-size: 25px;
  font-family: Thin;
  margin-top: 4em;
}
.hashtag:hover {
  color: #F0F0F0;
  text-decoration: none;
}
.hashtagLink:hover {
  text-decoration: none;
}
.signUpTitle {
  margin-top: 3em;
  font-size: 40px;
  font-family: Light;
  color: white;
}
.ourFeatureTitle {
  margin-top: 3em;
  margin-bottom: 1em;
  font-size: 40px;
  color: white;
}
.ourFeatureParagraph {
  margin-top: 1em;
  padding-bottom: 1.5em;
  font-family: Light;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 18px;
  line-height: 40px;
  color: #F0F0F0;
}
.blogTitle {
  font-family: Bold;
  font-size: 20px;
  line-height: 35px;
  color: #FF5D3B;
  padding-top: 1em;
  padding-left: 20px;
  padding-right: 20px;
}
.blogDescription {
  color: #888888;
  padding-top: 15px;
  line-height: 30px;
  padding-left: 30px;
  padding-right: 30px;
}
.blogCategory {
  color: #000000;
  font-size: 10px;
  padding-top: 40px;
  padding-bottom: 20px;
}
.postOverview {
  padding-left: 40px;
  padding-right: 40px;
  line-height: 40px;
  font-size: 20px;
  margin-bottom: 30px;
}
.insideBlogHeading {
  font-size: 20px;
  padding-left: 40px;
  padding-right: 40px;
  margin-top: 2em;
}
.blogWritePost {
  padding-left: 40px;
  padding-right: 40px;
  line-height: 40px;
  font-size: 15px;
}
.authorTitle {
  color: #A2A2A2;
  font-family: Light;
  padding-left: 6em;
}
.waitingFor {
  font-size:calc(100% + 2vw);
  font-family: Light;
}
/* END OF TEXT PROPERTIES */

/* ------------------------------------------------------------------------ */

/* CHANGING IMAGE PROPERTIES */
.ourGoals {
  margin-top: 5em;
  margin-bottom: 8em;
}
.descritiveImage {
  width: 50%;
  height: auto;
  padding-bottom: 50px;
  margin-left: -10px;
}
.mediaList {
  margin-top: 5em;
  margin-bottom: 5em;
}
.bottomForm {
  margin-top: 0.4em;
  border: none;
  background-color: white;
  padding: 20px 20px 20px 15px;
  color: #444444;
}
.bottomForm::-webkit-input-placeholder { 
  color: #8A959E; 
}
.blogPicture {
  width: 100%;
  padding-top: 15px;
}
.authorPicture {
  width: 60px;
  height: auto;
  margin-top: 5em;
}
.blogFitImage {
  padding-left: 40px;
  padding-right: 40px;
}
.aboutAuthor {
  width: 90px;
  height: auto;
  margin-left: 30px;
}
.phone {
  width: 60%;
  height: auto;
}
/* END OF IMAGE PROPERTIES */

/* ------------------------------------------------------------------------ */

/* START OF FOOTER CSS */
.footer {
  padding-top: 2em;
  padding-bottom: 1em;
}
.footerList {
  margin-top: 0.5em;
  display: inline-block;
}
.footerListLink {
  color: #8A959E;
}
.footerListLink:hover {
  text-decoration: none;
  color: #EE402D;
}
.copyright {
  color: #444444;
}
/* END OF FOOTER CSS */

/* ------------------------------------------------------------------------ */

/* START OF MODAL */
.modalProperty {
  margin-top: 6em;
  border-radius: 0px;
  width: 100%;
}
.googleForm {
  width: 100%;
  height: 500px;
}